/lab1/Lab1/target/
/lab1/Lab1/nbproject/private/
/lab1/Lab1/build/
/lab2/Lab2/nbproject/private/
/lab2/Lab2/build/
/lab2/lab2/nbproject/private/
/lab2/lab2/build/
/lab3/Lab3/target/
/lab3/Lab3/nbproject/
/lab4/lab4/target/
/lab4/lab4/nbproject/
/lab5/lab5/target/