/lab1/Lab1/target/
/lab1/Lab1/nbproject/private/
/lab1/Lab1/build/
/lab2/Lab2/nbproject/private/
/lab2/Lab2/build/
/lab2/lab2/nbproject/private/
/lab2/lab2/build/
/lab3/Lab3/target/
/lab3/Lab3/nbproject/
/lab4/lab4/target/
/lab4/lab4/nbproject/
/lab5/lab5/target/
/lab6/lab6/nbproject/
/lab6/lab6/target/
/lab7/lab7/target/
/lab7-8-9/lab7/target/
/lab10/lab10/target/
/lab11/lab11/target/
/lab2/lab14/target/
/lab14/lab14/target/